.Post{
    display: flex;
    flex-direction: column;
    padding:1rem;
    background-color: var(--cardColor);
    border-radius:1rem;
    gap:1rem;
    position: relative;

}
.Post>img{
    width:100%;
    max-height:20rem;
    object-fit: cover;
    border-radius: 0.5rem;
}
.PostReact{
    display: flex;
    align-items: flex-start;
    gap:1.5rem;
}
.Report{
    z-index:3;
    position: absolute;
    background: white;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
    padding: 10px 0px;
    border-radius: 5px;
    right: 20px;
    top: 55px;
}
.Report >div>div{
    padding: 3px 8px;
}
.Report >div>div:hover{
    background-color: rgb(228, 228, 228);
}
